<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
<style type="text/css">
	.index_features{
		width: 100%;
	}
	.index_features li{
		float: left;
		width: 15%;
		margin:20px 5%;
	}
	.index_features li:last-child{
		margin-right: 0;
	}
	.index_features li a img{
		width: 90%;
	}
	.index_features li a p{
		text-align: center;
		color: #051B28;
		font-family: Microsoft Yahei;
	}
</style>
</head>
<body>
<header class="main">
	<div class="header-wrap">
		<div class="htsearch-wrap with-home-logo">
			<input type="text" class="htsearch-input clr-999" value="" id="keyword" placeholder="搜索商品"/>
			<a href="javascript:void(0);" class="search-btn"></a>
		</div>
	</div>
</header>
<div class="main" id="main-container"></div>
<footer id="footer"></footer>
<script type="text/html" id="adv_list">
	<div class="adv_list">
		<div class="swipe-wrap">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>">
					<img src="<%= item[i].image %>" alt="">
				</a>
			</div>
		<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="home1">
	<div class="index_block home1">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
			<div class="item">
				<a href="<%= url %>">
					<img src="<%= image %>" alt="">
				</a>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="home2">
	<div class="index_block home0">
		<ul class="index_features">
			<li>
				<a href="http://quanyougo.com/wap/tmpl/product_first_categroy.html">
					<img src="http://quanyougo.com/data/upload/mobile/special/s0/s0_05073163404053144.png">
					<p>分类</p>
				</a>
			</li>
			<li>
				<a href="http://quanyougo.com/wap/tmpl/go_store.html?store_id=1">
					<img src="http://quanyougo.com/data/upload/mobile/special/s0/s0_05073164000016371.png">
					<p>自营店</p>
				</a>
			</li>
			<li>
				<a href="http://quanyougo.com/shop/index.php?act=search&op=index&cate_id=1044">
					<img src="http://quanyougo.com/data/upload/mobile/special/s0/s0_05073165752379906.png">
					<p>充值</p>
				</a>
			</li>
			<li>
				<a href="http://quanyougo.com/wap/tmpl/member/member.html?act=member">
					<img src="http://quanyougo.com/data/upload/mobile/special/s0/s0_05073167357294970.png">
					<p>积分</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="index_block home2">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
			<div class="item home2_1">
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</div>
			<div class="item home2_2">
				<div class="border-left">
					<div class="border-bottom">
						<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
					</div>
					<div>
						<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="home3">
	<div class="index_block home3">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
		<% for (var i in item) { %>
			<div class="item">
				<a href="<%= item[i].url %>"><img src="<%= item[i].image %>" alt=""></a>
			</div>
		<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="home4">
	<div class="index_block home2">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
			<div class="item home2_2">
				<div class="border-right">
					<div class="border-bottom">
						<a href="<%= rectangle1_url %>"><img src="<%= rectangle1_image %>" alt=""></a>
					</div>
					<div>
						<a href="<%= rectangle2_url %>"><img src="<%= rectangle2_image %>" alt=""></a>
					</div>
				</div>
			</div>
			<div class="item home2_1">
				<a href="<%= square_url %>"><img src="<%= square_image %>" alt=""></a>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="goods">
	<div class="index_block goods">
	<% if (title) { %>
		<div class="title"><%= title %></div>
	<% } %>
		<div class="content">
		<% for (var i in item) { %>
			<div class="goods-item">
				<a href="tmpl/product_detail.html?goods_id=<%= item[i].goods_id %>">
					<div class="goods-item-pic"><img src="<%= item[i].goods_image %>" alt=""></div>
					<div class="goods-item-name"><%= item[i].goods_name %></div>
					<div class="goods-item-price">￥<%= item[i].goods_promotion_price %></div>
				</a>
			</div>
		<% } %>
		</div>
	</div>
</script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/swipe.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/tmpl/footer.js"></script>
</body>
</html>
